::-webkit-scrollbar {
    display: none;
}

/*div {
  outline: 1px solid red; 
}*/

body {
  /* background-color: #1F0336; */
  background-color: black;
}


h2 {
  font-size: 1.8em; 
  text-align: center;
  color: black;
  margin: 0;
  font-weight: bold;
}

p {
  color: black;
}

img {
  width: 100%;
  max-width: 100px; 
  margin: auto;
}

code {
  max-width: 300px; 
  
}

pre {
  text-align: left;
  max-width: 300px; 
  display: block;
  margin-left: auto;
  margin-right: auto 
}

p {
  font-size: 1.2em;  
}

h6 {
  font-size: 1.2em;
  margin: 0;
  color: white;
}

.boot-image {
  width: 42vh;
  max-width: 42vh;
  text-align: center;
  display: block
}

.hidden {
  display: none;
}

.choices {
  font-size: 1em;
  height: 10vh
}

.qInfoDiv {
  font-size: 1.2em;  
  font-weight: bold;
}

.btn-primary {
  min-height: 50px;
}

.col-xs-3 {
  padding: 0;
}

#page-header {
  padding: 0;
}

.yellow-background{
  background-color: #FF6504;
}

.row {
  margin: 1vh 0 1vh 0;
  width: 100%;
}

.LLdiv {
  padding: 0 1vw;
  height: 32%
}

#pollChart {
  height: 330px;
}

#Peter-Griffin {
  width: 30vw;
  height: auto;
  max-width: 1000px;
}

#mainRow{
  height: calc(100% - 42px)
}

#page-header {
  margin: 0;
  padding: 1vh 2vw 1vh 2vw;
  height: 8vh
}

#info {
  height: 88vh
}

#LLandML {
  height: 100%
}

#regis {
  margin-top: 3vh
}

code {
  white-space: pre;

}

#qDiv {
  padding: 1vh 1vw 0 1vw;
}

#LL-box {
  vertical-align: middle;
  height: 43vh;
  background-color: black;
  padding-top: 4%
}


#money-ladder {
  height: 42vh;
}

#money-ladder-div{
  background-color: purple;
  height: 100%;
  color: white
}

#game {
  padding: 0;
  position: relative;
  height: 87vh;
  margin-top: 1vh
}

#choices-div {
  position: absolute;
  bottom: 0;
}

#q-Num {
  text-align: right;
}

#title, #phone-message {
  color: white
}

@media(max-width: 768px) {
  h2 {
    font-size: 1.2em;
  }

  h6, p {
    font-size: 1em;
  }

  .qInfoDiv {
    font-size: 1em; 
  }

  .choices {
    width: 100%;
  }
}